@model Anotacao
@{
    ViewData["Title"] = "Editar Nota";
}

<div class="container mt-5">
    <h1 class="mb-4">Editar Nota</h1>

    <form asp-action="EditarT" method="post">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" name="Titulo" value="@Model.Titulo">
        </div>

        <div class="form-group">
            <label for="conteudo">Conteúdo:</label>
            <textarea class="form-control" id="conteudo" name="Conteudo">@Model.Conteudo</textarea>
        </div>

        <div class="form-group">
            <label for="materia">Matéria:</label>
            <select class="form-control" id="materia" name="MateriaId">
                @foreach (var materia in ViewData["Materias"] as List<Materia>)
                {
                    <option value="@materia.MateriaId")>@materia.Nome</option>
                }
            </select>
        </div>

        <input type="hidden" name="AnotacaoId" value="@Model.AnotacaoId">

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
